<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <ion-card *ngFor="let card of cards">
    <ion-card-header>
      {{'prop_groups.' + card | translate}}
    </ion-card-header>
    <ion-list *ngIf="card">
      <button ion-item *ngFor="let prop of getCardProperties(card)" (click)="toogleLock(prop)">
         {{'props.' + prop + '.title' | translate}}: {{getTranslatedValue(card, prop)}}
           <ion-icon item-end [name]="isPropLocked(prop) ? 'lock' : 'unlock'"></ion-icon> 
      </button>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer padding>
  <button ion-button full (click)="setRandomNpc()">{{'home.randomize' | translate}}</button>
</ion-footer>
